@media (min-width: 768px) {
    a[ng-click] {
        cursor: pointer;
    }
}
[ng-cloak] {
    display: none !important;
}
span.correctAnswer {
    color: #f00;
}
.col-xs-1 {
    padding-right: 13px;
    padding-left: 13px;
}
.myHidden {
    visibility: hidden;
}

.flag {
    background: url('../images/filled.png') transparent;
    height: 20px;
    width: 20px;
    border: none;
    outline:0;
}

.unflag {
    background: url('../images/unfilled.png') transparent;
    height: 20px;
    width: 20px;
    border: none;
    outline:0;
}