
<!DOCTYPE html>
<html lang="zh-tw" ng-app="QuizApp">
<head>
    <title>考試練習</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/util.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @media (min-width: 768px) {
            a[ng-click] {
                cursor: pointer;
            }
        }
        [ng-cloak]{
            display:none !important;
        }
        div.container.ng-hide-remove{
            opacity:0;
            transition:all linear 2s;

        }
        div.container.ng-hide-remove-active{
            opacity:1;
        }
        div.container.ng-hide-add{
            opacity:1;
        }
        div.container.ng-hide-add-active{
            opacity:0;
        }
        span.correctAnswer{
            color:#f00;
        }
    </style>
</head>
<body ng-controller="QuizController as quiz">
    <div class="body-wrap">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#functions">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="images/img2.jpg" style="height:30px" />考試練習</a>
                    </div>
                    <div class="collapse navbar-collapse" id="functions">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ng-click="quiz.selectFile()">讀取題庫</a></li>
                            <li><a href="#">跳至題號</a></li>
                            <li><a href="#">設　　定</a></li>
                            <li><a ng-click="quiz.about()">關　　於</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="modal fade" id="about" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img src="images/img2.jpg" />
                    </div>
                    <div class="modal-body">
                        Any suggestions please mail to <a href="mailto:rif0909@gmail.com">rif0909@gmail.com</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="container ng-cloak" ng-show="quiz.readFile">
        <div class="row">
            <div class="col-xs-3">
                <button id="close" ng-show="true" ng-click="quiz.close()">取消</button>
            </div>
            <div class="col-xs-9">
                <input type="file" id="files" custom-on-change="quiz.parseFile" ng-click="quiz.clear()" />
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header alert alert-danger">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img src="images/warning.png" />
                    </div>
                    <div class="modal-body">
                        <p>選擇的檔案內無符合的題目!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="container ng-cloak" ng-show="!quiz.readFile && quiz.questions">
        <div class="row">
            <div class="col-xs-1 text-center">
                <img src="images/o.png" />
            </div>
            <div class="col-xs-2" ng-bind="quiz.correctCount"></div>
            <div class="col-xs-6 text-center" ng-bind="(quiz.index+1) + ' / ' + quiz.questions.length">
            </div>
            <div class="col-xs-1 text-center">
                <img src="images/x.png" />
            </div>
            <div class="col-xs-2" ng-bind="quiz.incorrectCount"></div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-xs-12">
                <span style="font-size:x-large" ng-bind="'['+quiz.question.class+' '+quiz.question.sn+']'"></span>
                <button class="btn btn-primary" ng-show="!quiz.status.answered" ng-click="quiz.answer()" ng-disabled="!quiz.status.enough">看看答案</button>
                <button class="btn btn-primary" ng-show="quiz.status.answered" ng-click="quiz.next()">下一題</button>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-xs-12" ng-bind="quiz.question.question">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">                    
                <div ng-switch="quiz.question.type.toLowerCase()">
                    <div ng-switch-when="single">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="option in quiz.question.options" ng-click="quiz.radio($index)">
                                <input type="radio" name="answer" ng-value="option.answer" ng-click="quiz.check()" /><span ng-class="{correctAnswer:quiz.status.answered && !quiz.status.correct && option.answer}" ng-bind="option.option"></span>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="multi">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="option in quiz.question.options" ng-click="quiz.ckbox($index)">
                                <input type="checkbox" name="answer" ng-value="option.answer" ng-click="quiz.check()" /><span ng-class="{correctAnswer:quiz.status.answered && !quiz.status.correct && option.answer}" ng-bind="option.option"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-bind="quiz.question.remark"></div>
        </div>
    </div>
    <div ng-show="quiz.status.answered" ng-switch="quiz.status.correct">
        <div ng-switch-when="true">
            <img style="position:fixed;top:30%;left:40%;" src="images/o64.png" />
        </div>
        <div ng-switch-when="false">
            <img style="position:fixed;top:30%;left:40%;" src="images/x64.png" />
        </div>
    </div>
    <script>
        angular.module("QuizApp", ['ngAnimate','myDirective'])
            .controller('QuizController', function ($log, $scope,$timeout) {
                var that = this;
                this.readFile = false;
                this.correctCount = 0;
                this.incorrectCount = 0;
                that.index = -1;
                this.status = Util.status();
                this.selectFile = function () {
                    this.readFile = true;
                    $('.navbar-toggle').click();
                };
                this.about = function () {
                    $('#about').modal('toggle');
                    $('.navbar-toggle').click();
                }
                this.clear = function () {
                    $('#files').val('');
                }
                this.close = function () {
                    this.readFile = false;
                    this.clear();
                }
                this.radio = function (index) {
                    var obj = $("input[name='answer']:eq(" + index + ")");
                    if (!obj.prop('disabled')) {
                        obj.prop('checked', true);
                        this.check();
                    }
                }
                this.ckbox = function (index) {
                    var obj = $("input[name='answer']:eq(" + index + ")");
                    if (!obj.prop('disabled')) {
                        obj.prop('checked', !obj.prop('checked'));
                        this.check();
                    }
                }
                this.check = function () {
                    var count = 0;
                    $("input[name='answer']").each(function () {
                        var obj = $(this);
                        count += obj.prop('checked');
                    })
                    var type = that.question.type.toLowerCase();
                    that.status.enough = (type === 'single' && count === 1 || type === 'multi' && count > 1);
                }
                this.answer = function () {
                    var type = this.question.type.toLowerCase();
                    var correct = true;
                    $("input[name='answer']").each(function () {
                        var obj = $(this);
                        obj.prop('disabled', true);
                        correct = correct && !(obj.prop('checked') ^ (obj.attr('value') === 'true'));
                    })
                    this.status.answered = true;
                    this.status.correct = correct;
                    correct ? this.correctCount++ : this.incorrectCount++;
                }
                this.next = function () {
                    var tmpIndex = that.index + 1;
                    if (tmpIndex === that.questions.length) {
                        tmpIndex = 0;
                    }
                    that.index = tmpIndex;
                    that.questions[that.index].options = Util.shuffle(that.questions[that.index].options);
                    that.question = that.questions[that.index];
                    that.status = Util.status();
                }
                this.parseFile = function (event) {
                    var f = event.target.files[0];
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var data = reader.result.split(";;");
                        var arr = [];
                        for (json in data) {
                            try {
                                var obj = angular.fromJson(data[json]);
                            } catch (err) { }
                            Util.add(arr, obj);
                        }
                        if (arr.length !== 0) {
                            that.questions = arr;
                            that.index = -1;
                            that.next();
                            $('#close').click();
                        } else {
                            $('#myModal').modal('toggle');
                        }
                    }
                    reader.readAsText(f);
                };
            })
    </script>
</body>
</html>