
<!DOCTYPE html>
<html lang="zh-tw" ng-app="QuizApp">
<head>
    <title>考試練習</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/taffy-min.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/util.js"></script>
    <script src="js/questions.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59206175-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @media (min-width: 768px) {
            a[ng-click] {
                cursor: pointer;
            }
        }
        [ng-cloak]{
            display:none !important;
        }
        span.correctAnswer{
            color:#f00;
        }
        .col-xs-1{
            padding-right : 13px;
            padding-left : 13px;
        }
        .myHidden{
            visibility : hidden;
        }
    </style>
</head>
<body ng-controller="QuizController as quiz">
    <div class="body-wrap">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#functions">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="images/img2.jpg" style="height:30px" />考試練習</a>
                    </div>
                    <div class="collapse navbar-collapse" id="functions">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ng-click="quiz.toTab('file')">讀取題庫</a></li>
                            <li ng-show="quiz.questions && quiz.tab==='quiz' && !quiz.random"><a ng-click="quiz.jumpTo()">跳至題號</a></li>
                            <li ng-show="quiz.questions"><a ng-click="quiz.toTab('setting')">設　　定</a></li>
                            <li><a data-toggle="modal" data-target="#about" ng-click="quiz.closeMenu()">關　　於</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="modal fade" id="about" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img src="images/img2.jpg" />
                    </div>
                    <div class="modal-body">
                        Any suggestions please mail to <a href="mailto:rif0909@gmail.com">rif0909@gmail.com</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="warning" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header alert alert-danger">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img src="images/warning.png" />
                    </div>
                    <div class="modal-body">
                        <p>選擇的檔案內無符合的題目!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="jump" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        請輸入題號：
                    </div>
                    <div class="modal-body">
                        <input type="number" id="sn" step="1" min="1" pattern="\d*" placeholder="1~{{quiz.questions.length}}"/>
                        <span id="errmsg" style="color:red;display:none">請輸入1~{{quiz.questions.length}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="quiz.jump()">確定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch="quiz.tab">
        <div ng-cloak class="container ng-cloak" ng-switch-when="file">
            <div class="row">
                <div class="col-xs-3">
                    <button id="close" ng-show="quiz.questions" ng-click="quiz.close()">取消</button>
                </div>
                <div class="col-xs-9">
                    <input type="file" id="files" custom-on-change="quiz.parseFile" ng-click="quiz.clear()" />
                </div>
            </div>
        </div>
        <div ng-cloak class="container ng-cloak" ng-switch-when="quiz">
            <div class="row">
                <div class="col-xs-1 text-center">
                    <img src="images/o.png" />
                </div>
                <div class="col-xs-2" ng-bind="quiz.correctCount"></div>
                <div class="col-xs-6 text-center" ng-bind="(quiz.index+1) + ' / ' + quiz.questions.length">
                </div>
                <div class="col-xs-1 text-center">
                    <img src="images/x.png" />
                </div>
                <div class="col-xs-2" ng-bind="quiz.incorrectCount"></div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-xs-12">
                    <span style="font-size:x-large" ng-bind="'['+quiz.question.class+' '+quiz.question.sn+']'" ng-class="{'myHidden':!quiz.title}"></span>
                    <button class="btn btn-primary" ng-show="!quiz.question.answered && !quiz.browse" ng-click="quiz.answer()" ng-disabled="!quiz.question.enough">看看答案</button>
                    <button class="btn btn-primary" ng-show="quiz.question.answered || quiz.browse" ng-click="quiz.next(1)">下一題</button>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-xs-12" ng-bind="quiz.question.question">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-switch="quiz.question.type.toLowerCase()">
                        <div ng-switch-when="single">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="option in quiz.question.options" ng-click="quiz.radio($index,$event)">
                                    <input type="radio" name="answer" ng-value="option.answer" ng-click="quiz.check($event)" ng-checked="quiz.browse ? option.answer : false" ng-disabled="quiz.browse"/><span ng-class="{correctAnswer:(quiz.question.answered && !quiz.question.correct && option.answer) || (quiz.browse && option.answer)}" ng-bind="option.option"></span>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="multi">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="option in quiz.question.options" ng-click="quiz.ckbox($index,$event)">
                                    <input type="checkbox" name="answer" ng-value="option.answer" ng-click="quiz.check($event)" ng-checked="quiz.browse ? option.answer : false" ng-disabled="quiz.browse"/><span ng-class="{correctAnswer:(quiz.question.answered && !quiz.question.correct && option.answer) || (quiz.browse && option.answer)}" ng-bind="option.option"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-bind="quiz.question.remark"></div>
            </div>
            <div ng-show="quiz.question.answered" ng-switch="quiz.question.correct">
                <div ng-switch-when="true">
                    <img style="position:absolute;top:30%;left:40%;" src="images/o64.png" />
                </div>
                <div ng-switch-when="false">
                    <img style="position:absolute;top:30%;left:40%;" src="images/x64.png" />
                </div>
            </div>
        </div>
        <div ng-cloak class="container ng-cloak" ng-switch-when="setting">
            <div class="row">
                <div class="col-xs-12"><b>一般設定</b></div>
                <div class="col-xs-6">
                    <input type="checkbox" id="random" onchange="Util.rndCheck()"/><span onclick="Util.check(this)">隨機排序</span>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" id="memorize" /><span onclick="Util.check(this)">記憶進度</span>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" id="browse" /><span onclick="Util.check(this)">瀏覽模式</span>
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" id="title" /><span onclick="Util.check(this)">顯示題號</span>
                </div>
            </div>
            <div class="row" id="classes" data-setting="quiz.loadCookie()">
                
            </div>
            <div class="row">
                <div class="col-xs-12"><b>題型設定</b></div>
                <div class="col-xs-4">
                    <input type="checkbox" id="single"/><span onclick="Util.check(this)">單選</span>
                </div>
                <div class="col-xs-4">
                    <input type="checkbox" id="multi"/><span onclick="Util.check(this)">複選</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="quiz.save()">儲存</button>
                    <button class="btn btn-primary" ng-click="quiz.tab='quiz'">取消</button>
                </div>
            </div>
        </div>
    <script>
        angular.module("QuizApp", [ 'myDirective','ngCookies'])
            .controller('QuizController', function ($log, $scope, $cookies) {
                var that = this;
                this.correctCount = 0;
                this.incorrectCount = 0;
                that.index = -1;
                this.tab = 'file';
                this.random = false;
                this.browse = false;
                this.title = false;
                this.toTab = function (tab) {
                    this.tab = tab;
                    $('.navbar-toggle').click();
                };
                this.jumpTo = function () {
                    $('#sn').val('');
                    $('#errmsg').hide();
                    $('#jump').modal('toggle');
                    $('.navbar-toggle').click();
                }
                this.closeMenu = function () {
                    $('.navbar-toggle').click();
                }
                this.clear = function () {
                    $('#files').val('');
                }
                this.close = function () {
                    this.tab = this.question ? 'quiz' : 'file';
                    this.clear();
                }
                this.radio = function (index,$event) {
                    var obj = $("input[name='answer']:eq(" + index + ")");
                    if (!obj.prop('disabled')) {
                        obj.prop('checked', true);
                        this.check($event);
                    }
                }
                this.ckbox = function (index,$event) {
                    var obj = $("input[name='answer']:eq(" + index + ")");
                    if (!obj.prop('disabled')) {
                        obj.prop('checked', !obj.prop('checked'));
                        this.check($event);
                    }
                }
                this.check = function ($event) {
                    $event.stopPropagation();
                    var count = 0;
                    $("input[name='answer']").each(function () {
                        var obj = $(this);
                        if (obj.prop('checked'))
                            count++;
                    })
                    var type = that.question.type.toLowerCase();
                    that.question.enough = (type === 'single' && count === 1 || type === 'multi' && count > 1);
                }
                this.answer = function () {
                    var type = this.question.type.toLowerCase();
                    var correct = true;
                    $("input[name='answer']").each(function () {
                        var obj = $(this);
                        obj.prop('disabled', true);
                        correct = correct && !(obj.prop('checked') ^ (obj.attr('value') === 'true'));
                    })
                    this.question.answered = true;
                    this.question.correct = correct;
                    correct ? this.correctCount++ : this.incorrectCount++;
                }
                this.next = function (n) {
                    var tmpIndex = that.index + n;
                    if (tmpIndex === Questions.get().length) {
                        tmpIndex = 0;
                        this.initQuestions();
                    }
                    that.index = tmpIndex;
                    Util.shuffle(Questions.get()[that.index].options);
                    that.question = new Question(Questions.get()[that.index]);
                    var settings = $cookies.get('quiz.settings');
                    if (settings === undefined) {
                        settings = Util.getDefaultSettings();
                    } else {
                        settings = angular.fromJson(settings);
                    }
                    if (settings.memorize) {
                        settings.position = this.index;
                        var expires = new Date();
                        expires.setDate(expires.getDate() + 7);
                        $cookies.put('quiz.settings', angular.toJson(settings), { 'expires': expires });
                    }
                }
                this.jump = function () {
                    var x = parseInt($('#sn').val(), 10);
                    if (x >= 1 && x <= that.questions.length) {
                        this.index = x;
                        this.next(-1);
                        $('#sn').val('');
                        $('#errmsg').hide();
                        $('#jump').modal('toggle');
                    } else {
                        $('#sn').val('');
                        $('#errmsg').show();
                    }
                }
                this.parseFile = function (event) {
                    var f = event.target.files[0];
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var data = reader.result.split(";;");
                        var arr = [];
                        for (json in data) {
                            try {
                                var obj = angular.fromJson(data[json]);
                                obj.type = obj.type.toLowerCase();
                                obj.__id = json;
                            } catch (err) { }
                            Util.add(arr, obj);
                        }
                        if (arr.length !== 0) {
                            Questions.set(arr);
                            that.initQuestions();
                            that.tab = 'quiz';
                            $('#close').click();
                        } else {
                            $('#warning').modal('toggle');
                        }
                    }
                    reader.readAsText(f);
                };
                this.save = function () {
                    if (this.saveCookie($cookies)) {
                        this.initQuestions();
                        this.tab = 'quiz';
                    } 
                }
                this.loadCookie = function (last) {
                    var settings = $cookies.get('quiz.settings');
                    if (settings === undefined) {
                        settings = Util.getDefaultSettings();
                    } else {
                        settings = angular.fromJson(settings);
                    }
                    if (settings.random) {
                        $('#random').prop('checked', settings.random).trigger('change');
                    } else {
                        $('#memorize').prop('checked', settings.memorize);
                    }
                    $('#browse').prop('checked', settings.browse);
                    $('#title').prop('checked', settings.title);
                    $('#single').prop('checked', settings.single);
                    $('#multi').prop('checked', settings.multi);

                    $('#classes').append('<div class="col-xs-12"><b>類別設定</b></div>');
                    var classes = Questions.getClasses();
                    for (var i = 0; i < classes.length; i++) {
                        $('#classes').append('<div class="col-xs-4" name="xxx"><input type="checkbox" name="class" value="'+classes[i].name+'" /><span onclick="Util.check(this)">'+classes[i].name+'['+classes[i].count+']</span></div>')
                    }
                    
                    if (typeof settings.class === 'boolean') {
                        $('input[name="class"]').each(function () {
                            $(this).prop('checked', true);
                        });
                    } else if(typeof settings.class === 'string') {
                        $('input[name="class"]').each(function () {
                            var obj = $(this);
                            if (settings.class.indexOf(obj.val()) !== -1) {
                                obj.prop('checked', true);
                            }
                        });
                    }
                }
                this.saveCookie = function () {
                    var settings = Util.getDefaultSettings();
                    settings.random = $('#random').prop('checked');
                    settings.memorize = $('#memorize').prop('checked');
                    settings.browse = $('#browse').prop('checked');
                    settings.title = $('#title').prop('checked');
                    settings.single = $('#single').prop('checked');
                    settings.multi = $('#multi').prop('checked');

                    if (settings.random) {
                        settings.position = 0;
                    } else {
                        settings.position = this.index;
                    }

                    var str = '';
                    $('input[name="class"]').each(function () {
                        var obj = $(this);
                        if (obj.prop('checked')) {
                            str += (obj.val() + ',');
                        }
                    });
                    if (str === '') {
                        alert('請至少選擇一種類別');
                        return false;
                    } else {
                        var arr = Questions.getByClass(str.split(','));
                        var found = false;
                        for (x in arr) {
                            if (arr[x].type === 'single' && settings.single || arr[x].type === 'multi' && settings.multi) {
                                found = true;
                                break;
                            }
                        }
                        if (!found) {
                            alert('選擇的類別及題型未包含任何題目');
                            return false;
                        }
                    }
                    settings.class = str;
                    var expires = new Date();
                    expires.setDate(expires.getDate() + 7);
                    $cookies.put('quiz.settings', angular.toJson(settings), { 'expires': expires });
                    return true;
                }
                this.initQuestions = function () {
                    var settings = $cookies.get('quiz.settings');
                    if (settings === undefined) {
                        settings = Util.getDefaultSettings();
                    } else {
                        settings = angular.fromJson(settings);
                    }
                    var params = {};
                    if (typeof settings.class === 'boolean') {
                        params.class = { '!is': 'undefined' };
                    } else if (typeof settings.class === 'string') {
                        params.class = settings.class.split(',');
                    }
                    if (settings.single && !settings.multi) {
                        params.type = 'single';
                    } else if (settings.multi && !settings.single) {
                        params.type = 'multi';
                    }

                    if (Questions.get(params).length === 0) {
                        Questions.get({ class: { '!is': 'undefined' } });
                    }
                    this.random = settings.random;
                    this.browse = settings.browse;
                    this.title = settings.title;
                    if (settings.random) {
                        Util.shuffle(Questions.get());
                        that.index = -1;
                    } else {
                        Questions.get().sort(function (a,b) {
                            return a.__id - b.__id;
                        });
                        if (settings.memorize) {
                            that.index = settings.position - 1;
                        } else {
                            that.index = -1;
                        }
                    }
                    that.questions = { length: Questions.get().length };
                    that.next(1);
                }
            })
    </script>
</body>
</html>